<div class="text-center">
  <p>
    <img class="rounded" src=<%= "/main_weapons/#{@main_weapon.image}" %> alt="Main Weapon" width="160px" height="160px">
  </p>
  <p>
    <img class="rounded" src=<%= "/sub_weapons/#{@main_weapon.sub_weapon.image}" %> alt="Sub Weapon" width="80px" height="80px">
    <img class="rounded" src=<%= "/special_weapons/#{@main_weapon.special_weapon.image}" %> alt="Special Weapon" width="80px" height="80px">
  </p>
  <p><%= link_to @main_weapon.name, main_weapon_path(@main_weapon), class: 'font-weight-bold h5' %></p>
</div>
<div class="row my-5">
  <div class="offset-xl-4 col-xl-4 offset-md-3 col-md-6">
    <%= form_with(url: "/main_weapons/#{@main_weapon.id}/score", local: true) do |f| %>
      <div class="form-group">
        <%= f.label :stage, 'ステージ' %>
        <%= f.collection_select(:stage_id, @stages, :id, :name, {prompt: "選択してください"}, {class: 'form-control'}) %>
      </div>
      <div class="form-group">
        <%= f.label :point, 'ポイント' %>
        <%= f.number_field(:point, class: 'form-control') %>
      </div>
      <%= f.submit '登録する', class: 'btn btn-primary btn-block mt-5' %>
    <% end %>
  </div>
</div>
