<div class="text-center">
  <h1>ギアセット新規登録</h1>
</div>
<div class="row my-5">
  <div class="offset-sm-3 col-sm-6">
    <%= form_with(model: @gear_set, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :main_weapon, 'ブキ' %>
        <%= f.collection_select :main_weapon_id, @main_weapons, :id, :name, {prompt: "選択してください"}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :headgear, 'アタマ' %>
        <%= f.collection_select :headgear_id, @headgear, :id, :name, {prompt: "選択してください"}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :clothing, 'フク' %>
        <%= f.collection_select :clothing_id, @clothing, :id, :name, {prompt: "選択してください"}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :shoes, 'クツ' %>
        <%= f.collection_select :shoes_id, @shoes, :id, :name, {prompt: "選択してください"}, class: 'form-control' %>
      </div>
      <%= f.submit '登録する', class: 'btn btn-primary btn-block mt-5' %>
    <% end %>
  </div>
</div>
