<div class="text-center mb-5">
  <% if @main_weapon %>
    <p>
      <img class="rounded mx-auto" src=<%= "/main_weapons/#{@main_weapon.image}" %> alt="Main Weapon" width="160px" height="160px">
    </p>
    <p>
      <img class="rounded" src=<%= "/sub_weapons/#{@main_weapon.sub_weapon.image}" %> alt="Sub Weapon" width="80px" height="80px">
      <img class="rounded" src=<%= "/special_weapons/#{@main_weapon.special_weapon.image}" %> alt="Special Weapon" width="80px" height="80px">
    </p>
    <p class="mt-3"><%= link_to @main_weapon.name, main_weapon_path(@main_weapon), class: 'font-weight-bold h4' %></p>
  <% end %>
  <p class="mt-5"><%= link_to 'ブキランダム生成', '/main_weapons/random', method: :post, class: 'btn btn-lg btn-primary' %></p>
  <% if login? %>
    <% if @main_weapon %>
      <p class="mt-5"><%= link_to '塗りポイント登録', "/main_weapons/#{@main_weapon.id}/score", class: 'btn btn-lg btn-primary' %></p>
    <% end %>
    <div class="row mt-5">
      <table class="offset-xl-4 col-xl-4 offset-md-3 col-md-6 table table-bordered">
        <tr>
          <td>レベル</td>
          <td><%= @level %></td>
        </tr>
        <tr>
          <td>現在のポイント</td>
          <td><%= @total_point %></td>
        </tr>
        <tr>
          <td>次のレベルまで</td>
          <td><%= @next_level %></td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
