<div class="text-center mb-5">
  <% if @main_weapon %>
    <% if login? %>
      <p><%= link_to @main_weapon.name, main_weapon_path(@main_weapon), class: 'font-weight-bold h5' %></p>
    <% else %>
      <p class="font-weight-bold h5"><%= @main_weapon.name %></p>
    <% end %>
    <p class="mt-5">
      <img class="rounded mx-auto" src=<%= "/main_weapons/#{@main_weapon.image}" %> alt="Main Weapon" width="160px" height="160px">
    </p>
    <p>
      <img class="rounded" src=<%= "/sub_weapons/#{@main_weapon.sub_weapon.image}" %> alt="Sub Weapon" width="80px" height="80px">
      <img class="rounded" src=<%= "/special_weapons/#{@main_weapon.special_weapon.image}" %> alt="Special Weapon" width="80px" height="80px">
    </p>
    <% if @gear_set %>
      <p>
        <img class="rounded" src=<%= "/abilities/#{@gear_set.headgear.main_ability.image}" %> alt="Main Power" width="80px" height="80px">
        <img class="rounded" src=<%= "/abilities/#{@gear_set.headgear.sub_ability_1.image}" %> alt="Sub Power" width="40px" height="40px">
        <img class="rounded" src=<%= "/abilities/#{@gear_set.headgear.sub_ability_2.image}" %> alt="Sub Power" width="40px" height="40px">
        <img class="rounded" src=<%= "/abilities/#{@gear_set.headgear.sub_ability_3.image}" %> alt="Sub Power" width="40px" height="40px">
      </p>
      <p>
        <img class="rounded" src=<%= "/abilities/#{@gear_set.clothing.main_ability.image}" %> alt="Main Power" width="80px" height="80px">
        <img class="rounded" src=<%= "/abilities/#{@gear_set.clothing.sub_ability_1.image}" %> alt="Sub Power" width="40px" height="40px">
        <img class="rounded" src=<%= "/abilities/#{@gear_set.clothing.sub_ability_2.image}" %> alt="Sub Power" width="40px" height="40px">
        <img class="rounded" src=<%= "/abilities/#{@gear_set.clothing.sub_ability_3.image}" %> alt="Sub Power" width="40px" height="40px">
      </p>
      <p>
        <img class="rounded" src=<%= "/abilities/#{@gear_set.shoes.main_ability.image}" %> alt="Main Power" width="80px" height="80px">
        <img class="rounded" src=<%= "/abilities/#{@gear_set.shoes.sub_ability_1.image}" %> alt="Sub Power" width="40px" height="40px">
        <img class="rounded" src=<%= "/abilities/#{@gear_set.shoes.sub_ability_2.image}" %> alt="Sub Power" width="40px" height="40px">
        <img class="rounded" src=<%= "/abilities/#{@gear_set.shoes.sub_ability_3.image}" %> alt="Sub Power" width="40px" height="40px">
      </p>
    <% end %>
  <% end %>
  <p class="mt-5"><%= link_to 'ブキランダム生成', '/main_weapons/random', method: :post, class: 'btn btn-lg btn-primary' %></p>
  <% if login? %>
    <% if @main_weapon %>
      <p class="mt-5"><%= link_to '塗りポイント登録', "/main_weapons/#{@main_weapon.id}/score", class: 'btn btn-lg btn-primary' %></p>
    <% end %>
    <div class="row mt-5">
      <table class="offset-xl-4 col-xl-4 offset-md-3 col-md-6 table table-bordered">
        <tr>
          <td>達成率</td>
          <td><%= @achievement_rate %>％（<%= @achievement_scores %>／<%= @all_scores %>）</td>
        </tr>
        <tr>
          <td>平均ポイント</td>
          <td><%= @average_point %></td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
