<div class="text-center mb-5">
  <p>
    <img class="rounded" src=<%= "/stages/#{@stage.image}" %> alt="Stage" width="320px" height="180px">
  </p>
  <h1 class="h4 font-weight-bold"><%= @stage.name %></h1>
  <div class="row mt-5">
    <table class="offset-lg-3 col-lg-6 table table-bordered">
      <tr>
        <th>ブキ</th>
        <th>合計</th>
        <th>最高</th>
      </tr>
      <% @scores.each do |score| %>
        <tr>
          <th><%= score.main_weapon.name %></th>
          <td><%= score.total_point %></td>
          <td><%= score.max_point %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
