<div class="text-center mb-5">
  <h1 class="h4 font-weight-bold"><%= @stage.name %></h1>
  <p class="mt-5">
    <img class="rounded" src=<%= "/stages/#{@stage.image}" %> alt="Stage" width="320px" height="180px">
  </p>
  <div class="row mt-5">
    <table class="offset-lg-3 col-lg-6 table table-bordered">
      <tr>
        <th>合計</th>
        <th><%= @total_point %></th>
      </tr>
      <% @scores.each do |score| %>
        <tr>
          <td><%= score.main_weapon.name %></td>
          <td><%= score.point %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
